<nav class="navbar navbar-expand-lg navbar-light bg-info">
  <a class="navbar-brand" href="#">Mean Demo</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">


    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="" routerLinkactive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/events" routerLinkactive="active">Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/special-events" routerLinkactive="active">Special</a>
      </li>
      <!-- Add more buttons as needed -->
    </ul>

    <ul class="navbar-nav ms-auto"  *ngIf="!islogged()" >
      <li class="nav-item" >
        <a class="nav-link" routerLink="/login" routerLinkactive="active">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/register" routerLinkactive="active" >Register</a>
      </li>
    </ul>

    <ul class="navbar-nav ms-auto"  *ngIf="islogged()" >
      <li class="nav-item" (click)="logout()"  >
        <a class="nav-link"   routerLink="" routerLinkactive="active">Logout</a>
      </li>
     
    </ul>

   
  </div>
</nav>

<div class="container">
  <mat-slide-toggle>Toggle me!</mat-slide-toggle>

  <p style="color: aquamarine;">{{hostUrl}}:{{port}}</p>
  <button mat-raised-button>Basic</button>
  <button mat-button color="primary">Primary</button>
  <button mat-raised-button color="accent">Accent</button>
  <button mat-raised-button color="warn">Warn</button>

  <router-outlet></router-outlet>
  
  {{title1}}

</div>