<div class="row mt-5">
    <div class="col-md-4 mb-3" *ngFor="let event of specialEvents">
        <div class="card text-center"> 
            <div class="card-body">

                <h5 class="card-title"> {{event.Id}}</h5>
                <p class="card-text">{{event.Name}}</p>
                <p class="card-text"> {{event.Branch}}</p>
                <a href="https://www.google.com/" class="btn btn-success">Click</a>
            </div>
            <div class="card-footer">
                 <p class="card-text">{{event.City}}</p>
            </div>

        </div>

    </div>
</div>